<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novi.sh RestApi</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <img src="https://novi.sh/_next/static/media/novi.33670304.svg" alt="Novi.sh Logo" width="200px">
        <h1>Welcome to "Novi.sh" RestApi</h1>
        <p>Novi.sh is a simple web application that allows you to create and share notes with your friends.</p>
        <p>If you feel like you're out of place, you're probably right.</p>
        <div class="info">
            This area is restricted to the Novi.sh RestApi. If you're looking for the Novi.sh web application, please visit <a href="https://novi.sh">novi.sh</a>.
        </div>
    </div>
</html>